.hero-bg {
  background: linear-gradient(134deg, #174276 -5.34%, #092642 32.22%);
}

.steps-bg {
  background-image: url("./assets/img/offerings-bg2.png");
  /* background-attachment: fixed; */
  /* background-position: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: -90px; */
}

.nav-bg {
  background: linear-gradient(135deg, #174276 13.26%, #092642 40.86%);
}

.active_route {
  background-color: #d7e2f2 !important;
}
/* Define styles for your tab when active */
.react-tabs__tab--selected {
  background-color: #1f66ef !important; /* Green background for active tab */
  color: white !important;  /* White text for active tab */
  border: none !important; /* Adjust border if needed */
}

/* HTML: <div class="loader"></div> */
.loader {
  --c: no-repeat linear-gradient(#1c62ee 0 0);
  background: 
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 8px 8px; /* Decreased background size */
  animation: 
    l32-1 1s infinite,
    l32-2 1s infinite;
}

@keyframes l32-1 {
  0%, 80% { width: 30px; height: 30px; } /* Decreased width and height */
  35%, 45% { width: 40px; height: 40px; } /* Decreased width and height */
}

@keyframes l32-2 {
  0%, 30% { 
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%; 
  }
  50%, 70% { 
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%; 
  }
}
